@charset "EUC-KR";

h1 {
	background-color: #336699;
}

#menu {
	width: 30%;
	background-color: #99cc33;
	margin-left: 10px;
	float: right;
}
#content {
	width: 65%;
	text-align: justify;
	float: right;
}

#footer {
	background-color: #cccc99;
	clear: both;
}